### Files to be ignored by Git ###

# Jenkins plugin devlopment environment
/work

# Maven
**/target

# IntelliJ IDEA
/.idea
/*.ipr
/*.iws
**/*.iml

# Eclipse
/.classpath
/.project
/.settings

# Mac
**/.DS_Store

# Custom
/temp
